<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agregar Pantalon</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/4">Control de Sistema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>

    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lo-6 col-md-6 col-sm-6 container justify-content-center card">
            <h3 class="text-center">Registro de Pantalon</h3>
            <div class="card-body">
                <form th:action="@{/guardar4}" th:object="${pantalones}" method="post">
                    <div class="form-group">
                        <label>Marca:</label>
                        <input type="text" name="marca" th:field="*{marca}" class="form-control"
                               placeholder="Ingrese una marca" required>
                    </div>

                    <div class="form-group">
                        <label>Modelo:</label>
                        <input type="text" name="modelo" th:field="*{modelo}" class="form-control"
                               placeholder="Ingrese modelo" required>
                    </div>

                    <div class="form-group">
                        <label>Fabricante:</label>
                        <input type="text" name="fabricante" th:field="*{fabricante}" class="form-control"
                               placeholder="Ingrese fabricante" required>
                    </div>

                    <div class="form-group">
                        <label>Costo:</label>
                        <input type="number" name="costo" th:field="*{costo}" class="form-control"
                               placeholder="Ingrese costo" required>
                    </div>

                    <div class="form-group">
                        <label>Cantidad:</label>
                        <input type="number" name="cantidad" th:field="*{cantidad}" class="form-control"
                               placeholder="Ingrese cantidad" required>
                    </div>

                    <div class="form-group">
                        <label>Origen:</label>
                        <input type="text" name="origen" th:field="*{origen}" class="form-control"
                               placeholder="Ingrese origen" required>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>