<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/">Control Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/2">CASAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/3">ZAPATOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/4">PANTALONES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/5">EQUIPOS GPS</a>
            </li>
        </ul>
    </div>
</nav>
<BR>
<div class="container text-center">
    <h2>Bienvenido al Sistema de Control</h2>
</div>

</body>

</html>